node_modules/
.env*
dist/
build/
.DS_Store
*.log
-p/
tmp_docx/
.wwebjs_auth/
uploads/
/client/node_modules/
/server/node_modules/
*.db
*.db-journal
*.sqlite
*.sqlite3
*.db.gz
server/uploads/
produccion.md

